@import url('https://fonts.com/css2?family=Inter:wght@300;400;600;700;800&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body { 
    font-family: 'Inter', sans-serif; color: #1F2937; background-color: #f3f4f6; 
    line-height: 1.6; 
    padding: 40px 20px; 
    background-color: #f3f4f6;
}


.container{
    max-width: 800px;
    margin: 0 auto;
    background: white;
    padding: 40px;
    border-radius: 25px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.05);
}

.btn-back{
    display: inline-flex;
    align-items:center;
    gap: 10px;
    color:#9333EA;
    text-decoration: none;
    font-weight:600;
    margin-bottom: 30px;

}
.container section p, .container section ul li{
    color:#4B5563;
    margin-bottom: 10px;
}

.container section ul{
    margin-left: 20px;
}