@import url('https://fonts.com/css2?family=Inter:wght@300;400;600;700;800&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Inter', sans-serif;
    color: #1F2937;
    background-color: #f3f4f6;
    overflow-x: hidden;
}

/* --- LE HEADER (MODIFIÉ : HAUTEUR 60VH) --- */
header {
    width: 100vw;
    height: 60vh; 
    background-image: linear-gradient(135deg, #fdfbfb 0%, #ebedee 100%); 
    position: relative;
    overflow: hidden;
}

/* --- LA NAVBAR FLOTTANT --- */
nav {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    
    width: 90%;
    max-width: 1000px;
    height: 70px;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    /* pour faire le style du menu  */
    background: #FFFFFF; 
    border: 1px solid rgba(200, 200, 200, 0.5); 
    border-radius: 50px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.08); 
    z-index: 1000;
}

/* style du logo */
.logo a {
    font-size: 1.2rem;
    font-weight: 700;
    color: #111;
    letter-spacing: -0.5px;
    text-decoration: none;
    color:none;
}

/* --- TOUS LES LIENS   --- */
.nav-link {
    display: flex;
    gap: 30px;
    list-style: none;
}
/* LIEN DE NAVIGATION */
.nav-link li a {
    text-decoration: none;
    color: #444;
    font-size: 0.95rem;
    font-weight: 500;
    transition: color 0.3s ease;
}

.nav-link li a:hover {
    color: #9333EA;
}

/* --- HAMBURGER --- */
.hamburger {
    display: none;
    cursor: pointer;
}
/* POUR LES ICON */
.bi {
    font-size: 24px;
    color: #111;
}

/* --- CONTENU DU HEADER --- */
.header-title {
    height: 100%; 
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    text-align: center;
    padding-top: 50px; 
    
}
/* TITRE PRINCIPALE DE LA PAGE  */
h1 {
    font-size: 3.2rem; /* Légèrement augmenté pour 60vh */
    font-weight: 800;
    color: #111;
    letter-spacing: -2px; 
    margin: 25px 0 25px 0;
}
/* SOUS TITRE  */
.header-substitle {
    font-size: 0.85rem;
    color: #9333EA;
    margin-bottom: 30px; 
    font-weight: bolder;
    margin-bottom: 12px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

/* Pour la description */
.header-description{
    font-size: 1.1rem;
    color: #475569;
    max-width: 580px;
    margin: 0 auto 30px;
    line-height: 1.7;
    text-align: start;
}
/* Style qui regroupe les deux div  */
.cta-container {
    display: flex;
    gap: 15px;
    justify-content: center;
    flex-wrap: wrap;
}
 .btn {
    padding: 12px 24px;
    border-radius: 50px;
    font-size: 0.95rem;
    font-weight: 600;
    text-decoration: none;
    transition: all 0.3s ease;
    display: inline-flex;
    align-items: center;
    gap: 8px;
    background-color: transparent;
    color: #0f172a;
    border: 2px solid #0f172a;
}



.btn:hover {
    background-color: #9333EA;
    transform: translateY(-2px);
    color:white;
}




/* *************FOOTER******** */
footer{
    text-align: center;
    padding: 40px;
    color:#666;
    font-size:0.9rem;
    border-top:1px solid #ddd;
    margin-top: 50px;
}

/* POUR LA PAGE MENTION LEGALE */
.footer-links a{
    color: #9333EA;
    text-decoration: none;
    font-weight: 500;
    margin-top: 10px;
    display: inline-block;
}

/* STYLE DU H2 */
main h2 {
    text-align: center;
    margin-top: 30px;
    font-size:1.938rem;
    margin-bottom:25px;
    
}


@media screen and (max-width: 550px) {
    
    /* Le HEADER prend aussi 60vh sur mobile */
    header {
        height: 80vh; 
    }
    
    h1 { 
        font-size: 2rem; 
    }
    
    nav {
        width: 95%;
        padding: 0 20px;
    }

    .hamburger {
        display: block; 
        cursor: pointer;
        z-index: 1002;
    }

    .nav-link {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background: #FFFFFF; 
        
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        
        z-index: 900;
        opacity: 0;
        visibility: hidden;
        transform: translateY(-20px);
        transition: all 0.4s ease;
    }

    .nav-link li a {
        font-size: 1.5rem;
        font-weight: 600;
        color: #111;
    }

    .nav-link.active {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
        z-index: 950;
    }
    .cta-container{
        flex-direction: column;
    }
    .header-description{
        margin:20px;
        text-align: start;
    }
}
/* ======================================= */
/* --- MOBILE & RESPONSIVE min-width: 551px (max-width: 768px) --- */
/* ======================================= */
@media screen and (min-width:551px) and (max-width:768px){
    /* Le HEADER prend aussi 60vh sur mobile */
    header {
        height: 70vh; 
    }
    
    h1 { 
        font-size: 2.2rem; 
    }
    
    nav {
        width: 95%;
        padding: 0 20px;
    }

    .hamburger {
        display: block; 
        cursor: pointer;
        z-index: 1002;
    }

    .nav-link {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background: #FFFFFF; 
        
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        
        z-index: 900;
        opacity: 0;
        visibility: hidden;
        transform: translateY(-20px);
        transition: all 0.4s ease;
    }

    .nav-link li a {
        font-size: 1.5rem;
        font-weight: 600;
        color: #111;
    }

    .nav-link.active {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
        z-index: 950;
    }
    .cta-container{
        flex-direction: column;
    }
    .header-description{
        margin:30px;
        text-align: start;
    }
}