body {
    font-family: 'Inter', sans-serif;
    color: #1F2937;
    background-color: #f3f4f6;
    overflow-x: hidden;
}



/* DIV QUI SAUVEGARDE TOUTE LES CARD  */

.projects-container {
    /* border:1px solid blue; */
    display: flex; 
    flex-wrap: wrap; 
    justify-content: flex-start; 
    /* width:90vw; */
    max-width:1000px;
    margin:auto;
}

.card-sans-image{

    margin: 20px;
    width: 400px;
    height:310px;
    border:1px solid #FFFFFF;
    background-color: #FFFFFF;
    border-radius: 25px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    padding:40px;
}

.card-container{
    padding:10px;
}
/* AU SURVOL DE LA CARD  */
.card-sans-image:hover {
    transform: translateY(-5px); 
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.15); 
    border-color: #9333EA;
}

/* TITRE DE LA CARD */
.title-card{
   
    color:black;
    text-decoration: none;
    font-size:20px;
    
    display: block;
    font-weight: bold;
    margin-left:20px;
    text-align: center;
    /* margin-bottom:20px; */
    
}

/* POUR LA DESCRIPTION DU PROJET  */
.description-project{
    font-size: 16px;
    margin:20px 0 20px 10px;
}

/* LANGUAGE DE PROGRAMMATION UTILISER  */
.language-prog{
    display: flex;
}

.language-prog p{
    margin-right:15px;
    margin-top:10px;
    font-size:14px;
    margin-left:10px;
    padding: 10px;
    
}
/* LIEN DE LA CARD GITHUB PAR EXEMPLE  */
.link-card{
    margin-top: 15px;
    text-decoration: none;
    color:black;
    font-size: 15px;
      display: block;
      margin-left:20px;
      margin-bottom:15px;
    
}

/* TAG POUR LES LANGAGES DE PROGRAMMATION */
.tag-html{
    background-color: #f3e8ff; 
    color: #7e22ce; 
}


.tag-js{
    background-color: #dbeafe; 
    color: #1d4ed8;
}

.tag-php{
     background-color: #fef3c7; 
     color: #b45309;  
}

.tag-python{
    background-color: #ffeeee;
    color: purple;
}

/* POUR AFFICHER TOUS LES LIENS  */
.card-links{
    display: flex;
    margin-top: 15px;
}

/* ************************SKILLS **************** */
.skills-grid{
    /* border:1px solid blue; */
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 20px;
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 20px;
}

/* STYLE POUR LES CARDS DES SKILLS  */
.skill-card{
    background-color: white;
    padding: 25px;
    border-radius: 20px;
    width: 150px;
    text-align: center;
    box-shadow: 0 4px 15px rgba(0,0,0,0.05);
    transition: 0.3s ease;
}

/* POUR LES LOGO DES CARD DE SKILLS */
.skill-card i {
    font-size: 2.5rem;
    color:#9333EA;
    display: block;
    margin-bottom: 10px;
}

/* TEXTE DES CARD SKILLS */
.skill-card p {
    font-weight: 600;
    font-size: 0.9rem;
}
/* AU SURVOLE DE LA CARD  */
.skill-card:hover{
    transform: scale(1.05);
    background-color: #9333EA;
    color:white;
}
.skill-card:hover i {
    color: white;
}

/* *****************ONGLET ABOUT ******* */
.about-content{
    background-color: white;
    max-width: 800px;
    margin: 0 auto;
    padding: 40px;
    border-radius: 25px;
    /* text-align: center; */
    box-shadow: 0 10px 30px rgba(0,0,0,0.05);
    line-height: 1.8;
    color:#4B5563;
}

/* RESEAUX SOCIAUX  */
.social-links{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    padding-bottom: 80px;
}
/* POUR LES LIENS  */
.social-btn{
    padding: 12px 25px;
    border-radius: 50px;
    text-decoration: none;
    font-weight: 600;
    display: flex;
    align-items: flex-start;
    gap: 10px;
    transition: 0.3s;
    background: white;
    color:#111;
    border:1px solid #ddd;
}

.social-btn:hover{
    background-color: #111;
    color:white;
    transform: translateY(-3px);
}
.social-btn:hover i {
    color: white;
}



/* RESPONSIVE  */
@media screen and(max-width:768px){
    .card-sans-image { 
        width: 90%; 
        height: auto; 
    }
    .skills-grid { 
        display: grid; grid-template-columns: repeat(2, 1fr); 
        justify-items: center; 
    }
    .skill-card { 
        width: 140px; 
    }
}